# folder virtual environment Python
infrastructures/venv/
infrastructures/env/
venv/
env/
__pycache__/

# Environment variables (SENSITIVE!)
.env
.env.local
.env.*.local
env

# file sampah Mac/Windows
.DS_Store
Thumbs.db

# file IDE
.vscode/
.idea/

# data database
infrastructures/mongo_data/
infrastructures/cassandra_data/